<app-navbar [brand]="nickname"></app-navbar>
<div class="home">
  <section class="conatiner row p-4">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h1 class="text-center my-4">Que haceres 🏁</h1>

          <input
            class="form-control"
            type="text"
            placeholder="Tarea"
            [(ngModel)]="task"
          />
          <div class="mt-3 d-grid gap-2">
            <button class="btn btn-success" (click)="addTask()" type="button">
              Agregar
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <h1 class="home--title">Todo esto para Hacer 💪🏽</h1>

      <ng-container *ngFor="let singleTask of listTasks">
        <app-task-card
          [task]="singleTask"
          (eventRemove)="removeTask($event)"
          (eventDone)="doneTask($event)"
        ></app-task-card>
      </ng-container>
    </div>
  </section>

  <section class="conatiner row">
    <div class="col" *ngFor="let character of listCharacters">
      <img [src]="character.image" alt="" />
      <span>{{ character.name }}</span>
    </div>
  </section>
</div>
